<!-- Dialog and Backdrop -->
<div *ngIf="isDialogOpen" class="dialog-backdrop" (click)="closeDialog()"></div>
<div *ngIf="isDialogOpen" class="dialog-content">
  <h2>Détails de la Demande de Crédit</h2>
  <p><strong>Numéro Demande:</strong> {{ data.numD }}</p>
  <p><strong>Type Demande:</strong> {{ data.typeCredit }}</p>
  <p><strong>Montant:</strong> {{ data.montant }} DT</p>
  <p><strong>Date:</strong> {{ data.dateDemande | date }}</p>
  <p><strong>Statut:</strong> {{ data.statutCredit }}</p>
  <p><strong>Duree:</strong> {{ data.dureeCredit }}</p>
  <p><strong>Type Unite:</strong> {{ data.typeUnite }}</p>

  <div *ngIf="data.garanties && data.garanties.length > 0">
    <h3>Garanties</h3>
    <ul>
      <li *ngFor="let garantie of data.garanties">
        <p><strong>Nature:</strong> {{ garantie.nature }}</p>
        <p><strong>Type:</strong> {{ garantie.typeGarantie }}</p>
        <p><strong>Valeur:</strong> {{ garantie.valeur }} {{ garantie.devise }}</p>
      </li>
    </ul>
  </div>

  <div *ngIf="data.statutCredit === 'ACCEPTÉE'" class="action-buttons">
    <button class="action-btn" (click)="viewEcheancier()">
      Voir Échéancier
    </button>
    <button class="action-btn">
      <i class="fas fa-file-download"></i> Télécharger Contrat
    </button>


</div>
  <button class="close-button" (click)="closeDialog()">
    <i class="fas fa-times"></i>
  </button>
</div>
