<!-- src/app/components/demande-credit/credit.component.html -->
<app-sidebar></app-sidebar>
<div class="main">
    <div class="container">
        <h1>Mes Demandes Credit</h1>
        <div class="search-container">
            <input type="text" placeholder="Rechercher par ID" [(ngModel)]="searchId" (keyup.enter)="searchCreditById()">
            <i class="fas fa-search" (click)="searchCreditById()"></i>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Numéro demande</th>
                    <th>Type credit</th>
                    <th>Montant</th>
                    <th>Date de soumission</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let demande of filteredCredits">
                    <td>{{ demande.idCredit }}</td>
                    <td>{{ demande.typeCredit }}</td>
                    <td>{{ demande.montant }}</td>
                    <td>{{ demande.dateDemande }}</td>

                    <td>
            <span class="status" [ngStyle]="getStatusStyles(demande.statutCredit)">
              {{ demande.statutCredit }}
            </span>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <span>Affichage de l'élément 1 à {{ filteredCredits.length }} sur {{ credits.length }} éléments</span>
                <button class="pagination-btn" disabled>Précédent</button>
                <span class="current-page">1</span>
                <button class="pagination-btn" disabled>Suivant</button>
            </div>
        </div>
    </div>
</div>
