<app-header-front></app-header-front>
<div class="reset-password-container">
  <div class="reset-password-form">
    <h2>Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required placeholder="Enter new password" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirmPassword" required placeholder="Confirm new password" [(ngModel)]="confirmPassword">
      </div>
      <div class="error-msg" *ngIf="formSubmitted && password !== confirmPassword && confirmPassword !== ''">
        Passwords do not match
      </div>
            <button type="submit">Reset Password</button>
    </form>
  </div>
</div>

