<app-header-front></app-header-front>
<div class="reset-password-form">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <p>We will be sending a reset password link to your email.</p>
        <input type="email" id="email" name="email" required placeholder="Enter your e-mail" [(ngModel)]="email">
      </div>
      <div *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</div>

      <button type="submit">Send</button>
    </form>
  </div>
