/* Styles for the entire reset password form */
.reset-password-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    position: relative;
    top: 150px;
  }
 
  /* Heading styles */
  .reset-password-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Subtitle styles */
  .reset-password-form p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Form group styles */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Input field styles */
  .form-group input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styles */
  button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Responsive adjustments */
  @media (max-width: 480px) {
    .reset-password-form {
      width: 90%;
      margin: 10px auto;
      padding: 15px;
    }
  }
  .error-msg {
    color: red;
    font-weight: 600;
    text-align: center;
  }
  